<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isaquesoft.petcollection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:theme="@style/Theme.PetCollection"
        tools:targetApi="31">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.isaquesoft.petcollection.presentation.activity.HomePetCollectionActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

    </application>
</manifest>
